body {
    padding: 0;
    margin: 0;
    background-color: pink;
}

.atb-paket {
    width: 400px;
    height: 300px;
    background-color: rgb(216, 119, 216);
}

.atb-paket {
    color: peachpuff;
}

.menu {
    background-color: black;
    text-align: center;
    list-style: none;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    line-height: 30px;

    padding-bottom: 40px;
}
.menu-item{
    display: block;
    text-decoration: none;
    color: white;
    

}
.menu-item:hover{
    color: pink;
    background-color: azure;
}
.main-section {
    background-color: 
    width: fit-content;
    padding:60px;
    margin: 30px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    box-shadow: 7px 5px 20px 0px;
}

